.quizz__container{
  background-color: #1f1147;
    width: 80%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .quizz_logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .quizz_logo > h3{
    margin-top: 20px;
  }
  
  .quizz_questions{
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px solid #4224d9;
    border-radius: 8px;
    background-color: #644ED2;
    width: 100%;
    height: 200px;
    font-size: 20px;
    font-family: 'Segoe UI';
    margin-bottom: 20px;
  }
  
  .quizz_options{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    margin-bottom: 20px;
  }
  
  .btn-option{
    background-color: transparent;
    border-radius: 8px;
    border: 1px solid #18ab29;
    width: 50%;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 17px;
    padding: 16px 31px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #2f6627;
    
  }
  
  .btn-option:hover{
    background-color: #5cbf2a;
  }
  
  .btn-option:active{
    position: relative;
    top:1px;
  }
  
  .quizz_results{
    width: 100%;
    height: 350px;
    background-color: #170539;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;

    img{
      width: 400px;
      border-radius: 15px;
    }
    div{
      width: 50%;
    }
    h3{
      margin-top: 20px;
      font-weight: 300;
    }
  }

  .popup{
    display: flex;
    flex-direction: column;
    width: 600px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 8px;
    border:5px solid #1f1147;
    box-shadow: 0px 0px 0px 7px #170539;
    background-color: #170539;
    padding: 2% 0px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    h1{
      width: 50%;
    }

    button{
      color: #1F0539;
      background-color: rgb(226, 209, 250);
      padding: 10px 30px;
      border-radius: 8px;
      font-size: 16px;
      border: 1px solid #1F0539;
    }
    button:hover{
      background-color: transparent;
      color: #ffffff;
      border: 1px solid #ffffff;
      cursor: pointer;
    }
    img{
      border-radius: 8px;
      opacity: .8;
    }
  }
  .popup:hover{
    box-shadow: 1px 1px 18px 3px rgba(130, 96, 175, 0.61);
  }



  @media (max-width: 1200px){
    .quizz_results{
      img{
        display: none;
      }
      div{
        width: 95%;
        text-align: center;
      }
    }
  }

  @media (max-width: 645px){
    .popup{
      background-color: transparent;
      border: none;
      box-shadow: none;

    }
    .popup:hover{
      box-shadow: none;
    }
    .quizz_logo{
      img{
        width: 300px;
      }
    }
    .quizz_questions{
      
      h3{  
      text-align: center;
      }
  
    }

  }